---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Summary</div>
  </div>

  <div class="mb-10 text-justify">
    Senior Software and Machine Learning Engineer, Tech Lead at Texavie with a Ph.D. from the University of British Columbia. Over 10 years of experience in AI and
Software technologies, specializing in Computer Vision, Deep Learning, NLP, Large Language Models, and Generative AI. Proven track record in leading scalable
software projects in digital health and IoT, with solid expertise in DevOps and MLOps. Recognized in top AI journals and conferences for merging theoretical
research with practical applications.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Electrical and Computer Engineering"
      subtitle="Jan.20 to Present at University of British Columbia, Vancouver BC, Canada"
    >
      Thesis: Privacy-aware and Personalized Human Motion Understanding Using Wearable Sensing Textile
    </TimeLineElement>
    <TimeLineElement
      title="MSc, Electrical and Computer Engineering"
      subtitle="Sep.16 to Dec.18 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Boosting-based Transfer Learning for Brain-Computer Interfaces (Best M.Sc. Thesis Award)
    </TimeLineElement>
    <TimeLineElement
      title="BSc, Computer Science (Second Major)"
      subtitle="Sep.14 to May.16 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Security Analysis of a Decentralized Electronic Voting Protocol in the Universal Composability Framework
    </TimeLineElement>
    <TimeLineElement
      title="BSc, Electrical Engineering (First Major)"
      subtitle="Sep.10 to May.16 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Efficient FPGA and CUDA Implementation of Generalized Sparse FFT (Best B.Sc. Thesis Award)
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software and Machine Learning Engineer, Tech Lead"
      subtitle="From Jan.19 to Present at Texavie, Vancouver BC, Canada"
    >
    <li><b>Team Leadership and Project Management:</b></li>
      <ul>
        <li>Led a team of five software and three ML engineers in developing scalable cloud services, mobile and web applications</li>
        <li>Implemented Agile and Scrum methodologies, achieving a 30% increase in development efficiency and enhanced team collaboration</li>
        <li>Managed hiring processes and contributed to strategic decision-making and reporting directly to CEO and CTO</li>
      </ul>
    <li>Cloud Services and Infrastructure:</li>
        <li>Architected cloud services for diverse products using GCP, Firebase, AWS, and Azure, enhancing system scalability and reliability</li>
        <li>Enhanced system scalability and performance by optimizing cloud infrastructure with load balancing and auto-scaling techniques</li>
        <li>Oversaw the adoption of CI/CD pipelines for streamlined, reliable, and automated code deployment</li>
    <li>Application Development:</li>
        <li>Developed an iOS tele-physiotherapy app using Swift, incorporating HealthKit, Google Maps, Core ML, SceneKit, Core Bluetooth, In-App Purchase,
Local Storage, and Web3. <a href="https://apps.apple.com/ca/app/marswear/id1669388720">App Store Link</a></li>
        <li>Created an Android tele-physiotherapy app using Flutter, integrating Google Fit, Google Maps, TensorFlow Lite, Android Bluetooth API, Google Play
Billing, SQLite, and Web3j. <a href="https://play.google.com/store/apps/details?id=com.texavie_flutter_app.www">Google Play Link</a></li>
        <li>Engineered a Desktop App for Unity-based games using C#, including Auth, Bluetooth, and Web Sockets</li>
        <li>Developed a Web app for therapists using VueJS and NodeJS, integrating Auth, Stripe API, Web3, EC2, Kubernetes. <a href="https://marswear.texavie.com">Dashboard Link</a></li>
    <li>Blockchain and Game Development:</li>
        <li>Deployed TexavieCoin on Blockchain using Solidity and smart contract deployment to Etherscan</li>
        <li>Created physiotherapy games using Unity and Unreal Engines, employing C++, Auth, and Web Sockets</li>
    <li>AI and Machine Learning:</li>
        <li>Developed advanced Hand and Body Pose Estimation, Typing Detection, 3D Drawing, Activity Recognition, and Action Evaluation using smart apparel,
EMG sensors, and cameras with Python, Swift, and CoreML. <a href="https://youtu.be/jeGvXsm583Q?si=OED4aP7rppnJE8fp">Demo video</a></li>
        <li>Conducted Hand and Body Motion Analysis using Motion Capture Systems like OptiTrack MoCap, Motive, and Opensim</li>
    <li>LLMOps and Motion-to-Text Generation:</li>
        <li>Developed a motion-to-text generator using Transformer-based models (T5+BERT) and Diffusion-based models (MDM+CtrlNet+VQVAE+DreamBooth)</li>
        <li>Created an ETL pipeline for motion data integration and preprocessing, enhancing data quality for real-time processing using MLflow and DVC</li>
        <li>Incorporated LangChain for handling complex workflows, Retrieval-Augmented Generation (RAG) for enhanced data retrieval, and vector databases
for efficient data storage and querying</li>
        <li>Deployed models deliver real-time, descriptive physical activity text, enhancing patient feedback and engagement</li>
        <li>Implemented CI/CD pipelines for seamless updates and maintenance of LLM operations</li>
        <li>Developed tools for monitoring and reporting on model effectiveness, facilitating continuous improvement and strategic decision-making</li>
    <li>Research and Development:</li>
        <li>Conducted advanced text-to-motion generation and motion analysis, securing multiple grants, patents, and publishing technical papers</li>
        <li>Led the implementation of DevOps and MLOps practices, significantly improving deployment speed and operational efficiency</li>
</ul>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From Jan.19 to Jan.20 at University of British Columbia, Sauder Business School, Vancouver BC, Canada"
    >
    <li>Updating UBC Sauder School of Business admission procedure using NLP, Computer Vision (OpenCV + customized emotion detection
      algorithm) methods</li>
    </TimeLineElement>
    <TimeLineElement
      title="Machine Learning Engineer"
      subtitle="From Jul.18 to Dec.18 at Cafe Bazaar, Tehran, Iran"
    >
    <li>Designing a framework for finding duplicated apps for Cafe Bazaar, an Iranian Android marketplace with more than 40 million users and
offers 250,000 downloadable Iranian and international apps</li>
    </TimeLineElement>
    <TimeLineElement
      title="Lead Software Engineer"
      subtitle="From Oct.17 to Jun.18 at Parsian Medical, Tehran, Iran"
    >
    <li>Designed a Smart platform for hospitals to reduce nurse faults in emergency cases (currently used in 23 hospitals)</li>
    <li>Implemented Pulsoximeter and Capnograph using customized ARM-based board and presented it in MEDICA exhibition in Germany. We
reduced the calculation time of SPO2 in Pulsoximeter using Sparse FFT</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Aug.13 to Jul.18 at AON Impact Forcast, Chicago IL, USA"
    >
    <li>Developed simulated hurricane tracks in Atlantic Ocean using deep learning, based on 80 years of track data</li>
    <li>Developed temporal causal models and extensions of this model (group lasso, graph Laplacian, and hidden Markov random fields) that
      capture the spatial / temporal information in climate data</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From Jan.16 to Oct.16 at Lepont Consultant, London, UK"
    >
    <li>Designed a platform for modeling and predicting the Iranian stocks using Recursive Neural Networks (LSTM)</li>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From May.16 to Sep.16 at EPFL Machine Learning and Optimization Lab, Lausanne, Switzerland"
    >
    <li>Sparse convex optimization for deep learning</li>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From Jul.15 to Sep.15 at Chinese University of Hong Kong, Institute of Network Coding, Hong Kong"
    >
    <li>FPGA Implementation of 100Mbps Optical OFDM-based transceiver module using Virtex7 and FMC110 AD/DA Daughter Card</li>
    <li>Simulation of Physical Layer Network Coding for three users</li>
    </TimeLineElement>
    <TimeLineElement
      title="Co-founder and Chief Technology Officer"
      subtitle="From Jan.14 to Jan.16 at University of British Columbia, Sauder Business School, Vancouver BC, Canada"
    >
    <li>Designed a Website to connect specialists to patients, advising patients with specific diseases like STDs</li>
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Patents</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Stretchable Multimodal Smart Textile Apparel and Machine Learning for Accurate and Dynamic Movement, Strength, and Health Tracking.
        US Provincial Patent and PCT Application filed in 22</a>
    </li>
    <li>
      <a href="#" target="_blank"> Asynchronous Fragmented OFDM-CDMA Cognitive Radio LAN. Iranian Provincial Patent filed in 17</a>
    </li>
    <li>
      <a href="#" target="_blank"> Underwater Optical CDMA LAN. Iranian Provincial Patent filed in 17</a>
    </li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> <b>Tashakori A</b>, Jiang Z, Servati A, Soltanian S, Narayana H, Le K, Nakayama C, Yang CL, Wang ZJ, Eng JJ, Servati P. Capturing complex hand
movements and object interactions using machine learning-powered stretchable smart textile gloves. <b>Nature Machine Intelligence 24</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Zhang, W., <b>Tashakori A</b>, Jiang Z, Servati A, Narayana H, Soltanian S, Yeap RY, Ma M, Toy L, Servati P. Intelligent Knee Sleeves: A Real-time
Multimodal Dataset for 3D Lower Body Motion Estimation Using Smart Textile. <b>Conference on Neural Information Processing Systems (NIPS) 23</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> <b>Tashakori A</b>, Zhang W, Wang ZJ, Servati P. SemiPFL: personalized semi-supervised federated learning framework for edge intelligence. <b>IEEE
Internet of Things Journal 23</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Yang CL, Chui R, Mortenson WB, Servati P, Servati A, <b>Tashakori A</b>, Eng JJ. Perspectives of users for a future interactive wearable system for
upper extremity rehabilitation following stroke: a qualitative study. <b>Journal of NeuroEngineering and Rehabilitation 23</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Yu X, <b>Tashakori A</b>, McKeown MJ, Wang ZJ. Tackling Hybrid Heterogeneity in Federated Learning for Human Activity Recognition. <b>IEEE Transac-
tions on Neural Networks and Learning Systems 23</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Yu X, <b>Tashakori A</b>, McKeown MJ, Wang ZJ. H2Fed: Dual-Heterogeneity-Considered Federated Human Activity Recognition. <b>Jornal of Neuro-
computing 24</b></a>
      </li>
      <li>
      <a href="#" target="_blank"> Zhang W, <b>Tashakori A</b>, Jiang Z, Servati A, Kuo C, Servati P. A Flexible Sensor System for Lower Body Locomotion Estimation. <b>Biomedical
Engineering Society Annual Meeting (BMES) 22</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> <b>Tashakori A</b>. Survey on Multi-Agent Q-Learning frameworks for resource management in wireless sensor network. <b>arXiv 21</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> <b>Tashakori A</b>, Htun ST, Servati A, Narayana H, Shao Y, Imaizumi A, Le K, Jiang Z, Soltanian S, Ko F, Servati S. Proposing an E-textile apparel
for Hand Gesture Recognition and Arm Movement Estimation in Semi/Non-Line of Sight Environment. <b>SPIE Biophotonics in Exercise Science, Sports Medicine, Health Monitoring Technologies, and Wearables 20</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Jamali MV, Khorramshahi P, <b>Tashakori A</b>, Chizari A, Shahsavari S, AbdollahRamezani S, Fazelian M, Bahrani S, Salehi JA. Statistical distribution of
intensity fluctuations for underwater wireless optical channels in the presence of air bubbles. <b>Iran Workshop on Communication and Information Theory (IWCIT) 16</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Fazelian M, AbdollahRamezani S, Bahrani S, Chizari A, Jamali MV, Khorramshahi P, <b>Tashakori A</b>, Shahsavari S, Salehi JA. Mining DNA sequences
based on spatially coded technique using a spatial light modulator. <b>Iran Workshop on Communication and Information Theory (IWCIT) 16</b></a>
    </li>
    <li>
      <a href="#" target="_blank"> Akhoundi F, Salehi JA, <b>Tashakori A</b>. Cellular underwater wireless optical CDMA network: Performance analysis and implementation concepts.
<b>IEEE Transactions on Communications (TCOM) 15</b></a>
    </li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Services and Accomplishements</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
<li>
      <a href="#" target="_blank"> Featured in Science Robotics, Nature, Physics World, CTV News, CTV News Morning Live, NS News, UBC News, CHNL, North Shore
News, Virgin radio, CKNW Jill Bennett, Science Daily, Interesting Engineering, Tech Times and more for developing smart glove - Nature
Machine Intelligence manuscript (24)</a>
    </li>
<li>
      <a href="#" target="_blank"> Selected as a finalist for Apple Scholars in AIML (Health AI) (24)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Served as reviewer for CVPR2023 Conference and IEEE TWC, IEEE TNSE, IEEE SPL, IEEE IoT Journals</a>
    </li>
    <li>
      <a href="#" target="_blank"> Awarded UBC Presidential Scholars Awards and UBC Top International Student Awards (19, 20, 21, 22, 23, 24)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Awarded Viterbi Graduate Student Fellowship from the University of Southern California (Mar.18)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Awarded Graduate Research Assistantship from the Columnia University (Mar.18)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Ranked 8th in the Graduate-level National University Entrance Examination among 200k participants (Aug.16)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Ranked 34th in the National University Entrance Examination with around 500k participants (Aug.10)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Ranked 40th in the National Mathematics Olympiad in Iran out of 200k participants (Aug.09)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Ranked 1st and 3rd in the National ACM competition in Iran out of 130k participants (Sep.09, Sep.10)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C</li>
<li>C#</li>
<li>C++</li>
<li>Java</li>
<li>JavaScript</li>
<li>Python</li>
<li>Swift</li>
<li>Dart</li>
<li>Ruby</li>
<li>PHP</li>
<li>R</li>
<li>Solidity</li>
<li>Julia</li>
<li>TensorFlow</li>
<li>PyTorch</li>
<li>Keras</li>
<li>Scikit-Learn</li>
<li>Pandas</li>
<li>Numpy</li>
<li>OpenCV</li>
<li>XGBoost</li>
<li>Hugging Face</li>
<li>LightGBM</li>
<li>CatBoost</li>
<li>Prophet</li>
<li>PyCaret</li>
<li>SpaCy</li>
<li>NLTK</li>
<li>Gensim</li>
<li>React</li>
<li>Angular</li>
<li>Vue</li>
<li>Node.js</li>
<li>.NET</li>
<li>Django</li>
<li>Flask</li>
<li>FastAPI</li>
<li>Apple services (CoreML, Scenekit, Core Bluetooth, In App Purchase, Local storage, Healthkit)</li>
<li>AWS (EC2, S3, SageMaker, Lambda)</li>
<li>Azure (ML, Kubernetes, Cosmos DB)</li>
<li>Google Cloud (Firebase, Storage, Auth, Functions, AI Platform, GKE, Google Maps)</li>
<li>Oracle Cloud</li>
<li>Hadoop</li>
<li>Spark</li>
<li>Kafka</li>
<li>Docker</li>
<li>Kubernetes</li>
<li>CI/CD pipelines</li>
<li>Git</li>
<li>GitHub Actions</li>
<li>AutoCAD</li>
<li>Xcode</li>
<li>Android Studio</li>
<li>Figma</li>
<li>VSCode</li>
<li>Unity</li>
<li>Unreal Engine</li>
<li>Opensim</li>
<li>Optitrack</li>
<li>Jira</li>
<li>Trello</li>
<li>VMware</li>
<li>PyCharm</li>
<li>Anaconda</li>
<li>MATLAB</li>
<li>Simulink</li>
<li>SQL</li>
<li>NoSQL (MongoDB, DynamoDB, Cosmos DB, Firestore)</li>
<li>Project management</li>
<li>Agile methodologies</li>
<li>Scrum</li>
<li>Leadership</li>
<li>Team building</li>
<li>Strategic planning</li>
<li>Communication</li>
<li>Problem-solving</li>
<li>Time management</li>
<li>Model deployment</li>
<li>Continuous Integration and Delivery (CI/CD) for ML</li>
<li>Monitoring and managing ML models</li>
<li>Automated testing and validation of ML models</li>
<li>CUDA</li>
<li>Assembly</li>
<li>Verilog</li>
<li>VHDL</li>
<li>CAD</li>
  </ul>
</BaseLayout>
