---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Summary</div>
  </div>

  <div class="mb-10 text-justify">
    As a Senior Software and Machine Learning Engineer, Tech Lead at Texavie, coupled with a Ph.D. from University of British Columbia, I offer over
10 years of experience in advancing AI technologies in both industry and academia. Specialized in Computer Vision, Deep Learning, Natural
Language Processing and Large Language Models, Trustworthy AI, and Generative AI, I’m adept at leading innovative and scalable projects,
particularly in digital health and IoT, underpinned by a strong foundation in MLOps for scalable AI model management. My work, recognized
in top AI journals and conferences, demonstrates an exceptional ability to merge theoretical research with practical applications, consistently
driving technological advancements across sectors.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Electrical and Computer Engineering"
      subtitle="Jan.20 to Jan.24 at University of British Columbia, Vancouver BC, Canada"
    >
      Thesis: Toward Tactile Intelligence: Secure, Fair, and Robust Understanding of Human Hand Interactions via Multi-Modal Smart Textile
    </TimeLineElement>
    <TimeLineElement
      title="MSc, Electrical and Computer Engineering"
      subtitle="Sep.16 to Dec.18 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Boosting-based Transfer Learning for Brain-Computer Interfaces (Best M.Sc. Thesis Award)
    </TimeLineElement>
    <TimeLineElement
      title="BSc, Computer Science (Second Major)"
      subtitle="Sep.14 to May.16 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Security Analysis of a Decentralized Electronic Voting Protocol in the Universal Composability Framework
    </TimeLineElement>
    <TimeLineElement
      title="BSc, Electrical Engineering (First Major)"
      subtitle="Sep.10 to May.16 at Sharif University of Technology, Tehran, Iran"
    >
    Thesis: Efficient FPGA and CUDA Implementation of Generalized Sparse FFT (Best B.Sc. Thesis Award)
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software and Machine Learning Engineer, Tech Lead"
      subtitle="From Jan.19 to Present at Texavie, Vancouver BC, Canada"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
