---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Arvin Tashakori</div>
    <div class="text-3xl py-3 font-bold">Senior Software & Machine Learning Engineer, Tech Lead at Texavie</div>
    <div class="text-3xl py-3 font-bold">Ph.D Candidate at University of British Columbia</div>
    <div class="py-2">
      <text class="text-lg">
        <p>As a dedicated problem-solver with a track record of delivering results in complex projects, I'm recognized for my adaptability and have earned the trust of senior leadership, leading to my involvement in significant projects and fostering a culture of collaboration.
        </p>

        <p>I'm a Senior Software and Machine Learning Engineer, Tech Lead at Texavie, an award-winning startup in intelligent clothing, and a last-year Ph.D. candidate at UBC. With over a decade of experience, both in industry and academia, I've led teams, strategized, and managed and scaled up innovative and cutting-edge software solutions.
      </p>

      <p>My expertise covers Computer Vision, Deep Learning, Natural Language Processing (NLP), Large Language Models (LLMs), Generative AI, Secure and Trustworthy AI, Web3, Software/Firmware/Hardware Development, Wearables, Edge Computing, Consumer Electronics, and Internet of Things (IoT), especially in digital health.
      </p>

      <p>I'm skilled in Generative AI models, Signal Processing, Game Theory, NLP, Federated Learning, Web3, Convex Optimization, and software technologies like Full-Stack Development, Mobile Development, and Cloud Services, alongside FPGA/ASIC/Firmware Development and Hardware Design.
      </p>

      <p>My Ph.D. research under Prof. Servati and Prof. Wang on Secure, Fair, and Robust Understanding of Human Interaction with different modalities has yielded over 240 citations. I focus on modeling complex problems and creating scalable solutions, evidenced by my interdisciplinary research blending Computer Graphics, Computer Vision, Federated Learning, Trustworthy AI, Generative AI, LLMs, advanced Software practices, and FW/HW Development. It results in multiple provincial and PCT patents and publications at top-tier AI journals such as Nature Machine Intelligence, IEEE Internet of Things, IEEE Transactions of Neural Networks and Learning Systems, and top-tier AI conferences such as NIPS, and SPIE. 
      </p>
        
      <p>I did my MSc. in Electrical and Computer Engineering, my B.Sc.s (Double degree) in Electrical Engineering and Computer Science all from Sharif University of Technology (Ranked 1st in Iran). Currently, I'm advancing the frontier of Hand Pose Estimation using Wearable Sensing Textiles. Let's innovate together.
    </div>
    <div class="mt-8">
      <a href="https://www.linkedin.com/in/arvin-tashakori-b2b707aa/" target="_blank" class="btn btn-outline ml-5">
        My LinkedIn Profile
      <a href="https://scholar.google.com/citations?user=8pFUPnQAAAAJ&hl=en" target="_blank" class="btn btn-outline ml-5">
        My Google Scholar
      </a>
      <a href="https://drive.google.com/file/d/1S1faOxuaqILhodmSOE8ad9z2D91o1GmY/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        My Curriculum Vitae
      </a>
    </div>
    <div>
    <p></p>
    <br>
    <p></p>
  <div>
    <div class="text-3xl w-full font-bold mb-2">Selected Publications</div>
  </div>
  <HorizontalCard
    title="SmartTextileGlove"
    img="/post_img.webp"
    desc="Comming soon!"
    url="https://github.com/arvintashakori/SmartTextileGlove"
    badge="Nature Machine Intelligence, 2024"
  />
  <div class="divider my-0"></div>
  </div>
  <HorizontalCard
    title="Intelligent Knee Sleeves: A Real-time Multimodal Dataset for 3D Lower Body Motion Estimation Using Smart Textile"
    img="/knee_sleeve.png"
    desc=""
    url="https://feel.ece.ubc.ca/smartkneesleeve/"
    badge="NIPS, 2023"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SemiPFL: Personalized Semi-Supervised Federated Learning Framework for Edge Intelligence"
    img="/semipfl.png"
    desc=""
    url="https://arvintashakori.github.io/SemiPFLProject/"
    badge="IEEE IoT Journal, 2023"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Perspectives of users for a future interactive wearable system for upper extremity rehabilitation following stroke: a qualitative study"
    img="/post_img.webp"
    desc=""
    url="https://jneuroengrehab.biomedcentral.com/articles/10.1186/s12984-023-01197-6"
    badge="J of NeuroEngineering & Rehabilitation, 2023"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="A Flexible Sensor System for Lower Body Locomotion Estimation"
    img="/post_img.webp"
    desc=""
    badge="BMES, 2022"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Survey on Multi-Agent Q-Learning frameworks for resource management in wireless sensor network"
    img="/post_img.webp"
    desc=""
    url="https://arxiv.org/abs/2105.02371"
    badge="arXiv, 2021"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Proposing an E-textile apparel for Hand Gesture Recognition and Arm Movement Estimation in Semi/Non-Line of Sight Environment"
    img="/post_img.webp"
    desc=""
    url="#"
    badge="SPIE, 2020"
  />

  
</BaseLayout>
