---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Arvin Tashakori</div>
    <div class="text-3xl py-3 font-bold">Senior Software & Machine Learning Engineer, Tech Lead at Texavie</div>
    <div class="text-3xl py-3 font-bold">Ph.D Candidate at University of British Columbia</div>
    <div class="py-2">
      <text class="text-lg">
        <p>As an innovator at the intersection of technology and human interaction, I'm known for my ability to navigate and solve complex challenges with agility and precision, earning me the confidence of industry leaders and a reputation for fostering a culture of inventive collaboration.
        </p><br>

        <p>Currently, I serve as a Senior Software and Machine Learning Engineer and Tech Lead at Texavie, an acclaimed startup revolutionizing intelligent clothing. I am also in the final year of my Ph.D. program at UBC. With a rich background that spans over ten years across both industry and academia, I have guided teams, orchestrated strategies, and exponentially grown pioneering software initiatives.
      </p><br>

      <p>My domain expertise extends across Computer Vision, Deep Learning, Natural Language Processing, Large Language Models, Generative AI, and Secure and Trustworthy AI, with a particular focus on Web3, and the development of Software, Firmware, Hardware, Wearables, Edge Computing, Consumer Electronics, and Internet of Things technologies within the digital health sector.
      </p><br>

      <p>I am proficient in Generative AI models, Signal Processing, Game Theory, NLP, Federated Learning, Web3, Convex Optimization, and a suite of software technologies including Full-Stack Development, Mobile Development, and Cloud Services. My expertise further spans FPGA / ASIC / Firmware Development and Hardware Design.
      </p><br>

      <p>My doctoral research, guided by Prof. Servati and Prof. Wang, is dedicated to the Secure, Fair, and Robust Understanding of Human Interaction through diverse modalities and has attracted over 250 citations. This interdisciplinary endeavor bridges Computer Graphics, Computer Vision, Federated Learning, Trustworthy AI, Generative AI, Large Language Models, and advanced Software practices with FW/HW Development. It has led to numerous provincial and PCT patents and publications in prestigious AI journals and conferences, including Nature Machine Intelligence, IEEE Internet of Things Journal, IEEE Transactions on Neural Networks and Learning Systems, NIPS, BME, and SPIE.
      </p><br>
        
      <p>I hold an MSc in Electrical and Computer Engineering and dual B.Sc. degrees in Electrical Engineering and Computer Science from Sharif University of Technology, the top-ranked institution in Iran. Today, I'm propelling the development of trusted federated motion intelligence that seamlessly synthesizes estimation, generation, and comprehension within the realms of computer vision, mobile and ubiquitous computing. Join me in this journey of innovation—let's create the future together.
    </div>
    <div class="mt-8">
      <a href="https://www.linkedin.com/in/arvin-tashakori-b2b707aa/" target="_blank" class="btn btn-outline ml-5">
        My LinkedIn Profile
      <a href="https://scholar.google.com/citations?user=8pFUPnQAAAAJ&hl=en" target="_blank" class="btn btn-outline ml-5">
        My Google Scholar
      </a>
      <a href="https://drive.google.com/file/d/1Nmk1jmHakrpMMidmxt0c6enCp2Tzea1c/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        My Curriculum Vitae
      </a>
    </div>
    <div>
    <p></p>
    <br>
    <p></p>
  <div>
    <div class="text-3xl w-full font-bold mb-2">Selected Projects</div>
  </div>
  <HorizontalCard
    title="Capturing Complex Hand Movements and Object Interactions Using Machine Learning Powered Stretchable Smart Textile Gloves"
    img="/smartglove.png"
    desc1="Nature Machine Intelligence 2024. Impact Factor: 25.6. Acceptance Rate: 6%."
    desc2="Featured in CTV News, UBC News, CHNL, North Shore News, Virgin radio, CKNW Jill Bennett, Science Daily, Interesting Engineering, Tech Times and more."
    url="https://www.nature.com/articles/s42256-023-00780-9"
    badge="NEW"
    met=1
  />
  <div class="divider my-0"></div>
  </div>
  <HorizontalCard
    title="Intelligent Knee Sleeves: A Real-time Multimodal Dataset for 3D Lower Body Motion Estimation Using Smart Textile"
    img="/knee_sleeve.png"
    desc1="Conference on Neural Information Processing Systems (NIPS), 2023. Acceptance Rate: 24.4%"
    url="https://openreview.net/forum?id=T3FKjN4p8d"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SemiPFL: Personalized Semi-Supervised Federated Learning Framework for Edge Intelligence"
    img="/semipfl.png"
    desc1="IEEE Internet of Things Journal. Impact Factor: 10.6"
    url="https://arvintashakori.github.io/SemiPFLProject/"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Perspectives of users for a future interactive wearable system for upper extremity rehabilitation following stroke: a qualitative study"
    img="/neuro.png"
    desc1="Journal of NeuroEngineering and Rehabilitation. Impact Factor: 5.2"
    url="https://jneuroengrehab.biomedcentral.com/articles/10.1186/s12984-023-01197-6"
    met=0
  />
</BaseLayout>
