---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Arvin Tashakori</div>
    <div class="text-3xl py-3 font-bold">Senior Software & Machine Learning Engineer, Tech Lead at Texavie</div>
    <div class="text-3xl py-3 font-bold">Ph.D Candidate at University of British Columbia</div>
    <div class="py-2">
      <text class="text-lg">
        <p>As an innovator at the intersection of technology and human interaction, I'm known for my ability to navigate and solve complex challenges with agility and precision, earning me the confidence of industry leaders and a reputation for fostering a culture of inventive collaboration.
        </p><br>

        <p>Currently, I serve as a Senior Software and Machine Learning Engineer and Tech Lead at Texavie, an acclaimed startup revolutionizing intelligent clothing. I am also in the final year of my Ph.D. program at UBC. With a rich background that spans over ten years across both industry and academia, I have guided teams, orchestrated strategies, and exponentially grown pioneering software initiatives.
      </p><br>

      <p>My domain expertise extends across Computer Vision, Deep Learning, Natural Language Processing, Large Language Models, Generative AI, and Secure and Trustworthy AI, with a particular focus on Web3, and the development of Software, Firmware, Hardware, Wearables, Edge Computing, Consumer Electronics, and Internet of Things technologies within the digital health sector.
      </p><br>

      <p>I am proficient in Generative AI models, Signal Processing, Game Theory, NLP, Federated Learning, Web3, Convex Optimization, and a suite of software technologies including Full-Stack Development, Mobile Development, and Cloud Services. My expertise further spans FPGA / ASIC / Firmware Development and Hardware Design.
      </p><br>

      <p>My doctoral research, guided by Prof. Servati and Prof. Wang, is dedicated to the Secure, Fair, and Robust Understanding of Human Interaction through diverse modalities and has attracted over 250 citations. This interdisciplinary endeavor bridges Computer Graphics, Computer Vision, Federated Learning, Trustworthy AI, Generative AI, Large Language Models, and advanced Software practices with FW/HW Development. It has led to numerous provincial and PCT patents and publications in prestigious AI journals and conferences, including Nature Machine Intelligence, IEEE Internet of Things Journal, IEEE Transactions on Neural Networks and Learning Systems, NIPS, BME, and SPIE.
      </p><br>
        
      <p>I hold an MSc in Electrical and Computer Engineering and dual B.Sc. degrees in Electrical Engineering and Computer Science from Sharif University of Technology, the top-ranked institution in Iran. Today, I'm propelling the development of trusted federated motion intelligence that seamlessly synthesizes estimation, generation, and comprehension within the realms of computer vision, mobile and ubiquitous computing. Join me in this journey of innovation—let's create the future together.
    </div>
    <br>
    <div>
      <div class="text-3xl w-full font-bold mb-2">Recent News</div>

      </div>
      <div class="divider my-0"></div>
      <!-- </div> -->
    <HorizontalCard
      title="Excited to see that our Nature Machine Intelligence paper was featured in Physics World (Feb. 2024)"
      img="/5.jpeg"
      url="https://physicsworld.com/a/smart-glove-tracks-hand-movements-with-unprecedented-accuracy/"
    />
    <div class="divider my-0"></div>
    <!-- </div> -->
    <HorizontalCard
      title="CTV News Morning Live featured our glove paper and its applications (Jan. 2024)"
      img="/1.png"
      url="https://bc.ctvnews.ca/video/c2852771-smart-glove-could-help-stroke-survivors?binId=1.1184756"
    />
    <div class="divider my-0"></div>
    <!-- </div> -->
    <HorizontalCard
      title="Yara Leadership Society, featured our work (Jan. 2024)"
      img="/0.jpeg"
      url="https://www.linkedin.com/feed/update/urn:li:activity:7158111660904173568/"
    />
    <div class="divider my-0"></div>
    <!-- </div> -->
    <HorizontalCard
      title="CTV News featured our glove paper and its applications on post stroke rehabilitation (Jan. 2024)"
      img="/2.jpg"
      url="https://bc.ctvnews.ca/video/c2850875--smart-glove--helping-stroke-patients"
    />
    <div class="divider my-0"></div>
    <!-- </div> -->
    <HorizontalCard
      title="Listen to my discussion with Jeff and Bill on Radio NL about the impact of our glove work (Jan. 2024)"
      img="/3.png"
      url="https://soundcloud.com/user-965676831/jeff-bill-arvin-tashakori-january-17"
    />
    <div class="divider my-0"></div>
  <!-- </div> -->
  <HorizontalCard
    title="Trilled to see many news anchors, blogs and tweets has featured our work, please visit here (Jan. 2024)"
    met=1
    url="https://www.nature.com/articles/s42256-023-00780-9/metrics"
  />
  <div class="divider my-0"></div>
<!-- </div> -->
<HorizontalCard
  title="Happy to see our glove work has been featured in Interesting Engineering (Jan. 2024)"
  img="/4.jpeg"
  url="https://interestingengineering.com/innovation/stroke-survivors-regain-grip-on-life-with-game-changing-smart-glove"
/>
<div class="divider my-0"></div>
<!-- </div> -->
<HorizontalCard
  title="Happy to see our glove work has been featured in UBC News (Jan. 2024)"
  img="/6.jpeg"
  url="https://interestingengineering.com/innovation/stroke-survivors-regain-grip-on-life-with-game-changing-smart-glove"
/>
</div>
    
    <div>
    <div class="text-3xl w-full font-bold mb-2">Selected Projects</div>
    <HorizontalCard
    title="Capturing Complex Hand Movements and Object Interactions Using Machine Learning Powered Stretchable Smart Textile Gloves"
    img="/smartglove.png"
    desc1="Nature Machine Intelligence 2024"
    desc2="[Arvin Tashakori], Zenan Jiang, Amir Servati, Saeid Soltanian, Harishkumar Narayana, Katherine Le, Caroline Nakayama, Chieh-ling Yang, Z Jane Wang, Janice J Eng, Peyman Servati"
    desc3="Ranked 1st out of 144 journals in the category ''Computer Science, Artificial intelligence'' and 1st out of 113 journals in the category ''Computer Science, Interdisciplinary Applications''. Impact Factor: 25.898. Acceptance Rate: 6%"
    desc4="Featured in CTV News, CTV News Morning Live, NS News, UBC News, CHNL, North Shore News, Virgin radio, CKNW Jill Bennett, Science Daily, Interesting Engineering, Tech Times and more"
    url="https://www.nature.com/articles/s42256-023-00780-9"
    badge="NEW"
    met=0
  />
  <div class="divider my-0"></div>
  <!-- </div> -->
  <HorizontalCard
    title="Intelligent Knee Sleeves: A Real-time Multimodal Dataset for 3D Lower Body Motion Estimation Using Smart Textile"
    img="/knee_sleeve.png"
    desc1="Conference on Neural Information Processing Systems (NIPS), 2023"
    desc2="Wenwen Zhang, [Arvin Tashakori], Zenan Jiang, Amir Servati, Harishkumar Narayana, Saeid Soltanian, Rou Yi Yeap, Meng Han Ma, Lauren Toy, Peyman Servati"
    desc3="Top 3 worldwide artificial intelligence conferences. Acceptance Rate: 24.4%"
    url="https://openreview.net/forum?id=T3FKjN4p8d"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SemiPFL: Personalized Semi-Supervised Federated Learning Framework for Edge Intelligence"
    img="/semipfl.png"
    desc1="IEEE Internet of Things Journal, 2023"
    desc2="[Arvin Tashakori], Wenwen Zhang, Z Jane Wang, Peyman Servati"
    desc3="Top journal for internet of things and artificial intelligence. Impact Factor: 10.6"
    url="https://arvintashakori.github.io/SemiPFLProject/"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Perspectives of users for a future interactive wearable system for upper extremity rehabilitation following stroke: a qualitative study"
    img="/neuro.png"
    desc1="Journal of NeuroEngineering and Rehabilitation, 2023"
    desc2="Chieh-ling Yang, Rochelle Chui, W Ben Mortenson, Peyman Servati, Amir Servati, [Arvin Tashakori], Janice J Eng"
    desc3="One of the top journals in Neuroengineering and rehabilitation (Springer Nature). Impact Factor: 5.2"
    url="https://jneuroengrehab.biomedcentral.com/articles/10.1186/s12984-023-01197-6"
    met=0
  />
</BaseLayout>
