---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Selected Projects</div>
  </div>

  <HorizontalCard
    title="Capturing Complex Hand Movements and Object Interactions Using Machine Learning Powered Stretchable Smart Textile Gloves"
    img="/smartglove.png"
    desc1="Nature Machine Intelligence 2024"
    desc2="[Arvin Tashakori], Zenan Jiang, Amir Servati, Saeid Soltanian, Harishkumar Narayana, Katherine Le, Caroline Nakayama, Chieh-ling Yang, Z Jane Wang, Janice J Eng, Peyman Servati"
    desc3="Ranked 1st out of 144 journals in the category ''Computer Science, Artificial intelligence'' and 1st out of 113 journals in the category ''Computer Science, Interdisciplinary Applications''. Impact Factor: 25.898. Acceptance Rate: 6%"
    desc4="Featured in CTV News, CTV News Morning Live, NS News, UBC News, CHNL, North Shore News, Virgin radio, CKNW Jill Bennett, Science Daily, Interesting Engineering, Tech Times and more"
    url="https://www.nature.com/articles/s42256-023-00780-9"
    badge="NEW"
    met=1
  />
  <div class="divider my-0"></div>
  </div>
  <HorizontalCard
    title="Intelligent Knee Sleeves: A Real-time Multimodal Dataset for 3D Lower Body Motion Estimation Using Smart Textile"
    img="/knee_sleeve.png"
    desc1="Conference on Neural Information Processing Systems (NIPS), 2023"
    desc2="Wenwen Zhang, [Arvin Tashakori], Zenan Jiang, Amir Servati, Harishkumar Narayana, Saeid Soltanian, Rou Yi Yeap, Meng Han Ma, Lauren Toy, Peyman Servati"
    desc3="Top 3 worldwide artificial intelligence conferences. Acceptance Rate: 24.4%"
    url="https://openreview.net/forum?id=T3FKjN4p8d"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SemiPFL: Personalized Semi-Supervised Federated Learning Framework for Edge Intelligence"
    img="/semipfl.png"
    desc1="IEEE Internet of Things Journal, 2023"
    desc2="[Arvin Tashakori], Wenwen Zhang, Z Jane Wang, Peyman Servati"
    desc3="Top journal for internet of things and artificial intelligence. Impact Factor: 10.6"
    url="https://arvintashakori.github.io/SemiPFLProject/"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Perspectives of users for a future interactive wearable system for upper extremity rehabilitation following stroke: a qualitative study"
    img="/neuro.png"
    desc1="Journal of NeuroEngineering and Rehabilitation, 2023"
    desc2="Chieh-ling Yang, Rochelle Chui, W Ben Mortenson, Peyman Servati, Amir Servati, [Arvin Tashakori], Janice J Eng"
    desc3="One of the top journals in Neuroengineering and rehabilitation (Springer Nature). Impact Factor: 5.2"
    url="https://jneuroengrehab.biomedcentral.com/articles/10.1186/s12984-023-01197-6"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="A Flexible Sensor System for Lower Body Locomotion Estimation"
    img="/knee_sleeve.png"
    desc1="Biomedical Engineering Society Annual Meeting (BMES), 2022"
    desc2="Wenwen Zhang, [Arvin Tashakori], Zenan Jiang, Amir Servati, Calvin Kuo, Peyman Servati"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Survey on Multi-Agent Q-Learning frameworks for resource management in wireless sensor network"
    img="/prop.png"
    desc1="arXiv 2021"
    desc2="[Arvin Tashakori]"
    url="https://arxiv.org/abs/2105.02371"
    met=0
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Proposing an E-textile apparel for Hand Gesture Recognition and Arm Movement Estimation in Semi/Non-Line of Sight Environment"
    img="/prop.png"
    desc1="Society of Photographic Instrumentation Engineers Conference (SPIE), 2020"
    desc2="[Arvin Tashakori], Su Thida Htun, Amir Servati, Harishkumar Narayana, Yanan Shao, Ayumi Imaizumi, Katherine Le, Zenan Jiang, Saeid Soltanian, Frank Ko, Peyman Servati"
    url="#"
    met=0
  />
</BaseLayout>
